:root {
  --black:#0b0b0b;
  --dark-principal:#0b0b0b;
  --color:white;
  --color-second:#eeeeee;
  --color-oposite:#0b0b0b;
  --color-third: #ddd;
  --gradient:linear-gradient(180deg, #2289ff 0%,#d604cf 100%);
  --first:#e684ae;
}
.admin-commands {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:70px 20px 20px 20px;
  width:100vw;
}
.admin-commands-div {
  width:100vw;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.admin-comm-filter {
  color:var(--color-oposite);
  background-color: var(--color);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.admin {
  width:100vw;
  height:100vh;
  background-color: var(--color-third);
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-div {
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px 20px;
  max-width: 100%;
  color:var(--color-oposite);
  width:600px;
  background-color: var(--color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-family: 'Poppins', sans-serif;
}
.admin-top {
  font-size:22px;
  font-weight: 600;
  margin:20px 0;
  text-align: center;
}
.admin-txt {
  text-align: center;
  font-size:20px;
  font-weight: 500;
  margin:10px 0;
}
.admin-link {
  font-size:20px;
  font-weight: 600;
  padding:6px 12px;
  margin:20px 5px;
  background-color: var(--color-oposite);
  color:var(--color);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.admin-bottom-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:calc(100% - 40px);
  flex-wrap: wrap;
}

@media screen and (max-width:600px) {
  .admin-bottom-flex {
    flex-direction: column;
  }
  .admin-link {
    margin:10px 5px;
  }
  .admin-div {
    width:calc(100% - 20px);
  }
}


/*----------Admin err----------*/
.admin-err-container {
  width:100vw;
  min-height:100vh;
  background-color: var(--color-third);
  display: flex;
  height:auto;
  padding:100px 20px 20px 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-err-div {
  width:80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px 20px;
  color:var(--color-oposite);
  background-color: var(--color-second);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-family: 'Poppins', sans-serif;
}
.admin-err {
  width:100%;
  background-color: var(--color);
  margin:10px;
  padding:5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.admin-err-title {
  font-size:22px;
  font-weight: 600;
  margin:5px 0;
}
.admin-err-text {
  font-size:18px;
  font-weight: 500;
  margin:0 5px;
}
.admin-err-checkbox, .admin-err-checkbox-dark {
  width:45px;
  height:45px;
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
}
.admin-err-checkbox {
  background-image: url(../Main/svg-dark/send-email.svg);
}
.admin-err-checkbox-dark {
  background-image: url(../Main/svg/send-email.svg);
}
.adm-popup {
  width:100vw;
  height:100vh;
  position: fixed;
  min-height:500px;
  z-index:4;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adm-popup-bg {
  width:100%;
  height:100%;
  z-index:-1;
  position: absolute;
  background-color: var(--color-oposite);
  opacity: 0.5;
}
.adm-pop-content {
  width:650px;
  background-color: var(--color);
  padding:10px 20px;
  display: flex;
  max-width: calc(100% - 20px);
  align-items: center;
  color:var(--color-oposite);
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.adm-pop-send {
  background-color: var(--color-oposite);
  color:var(--color);
  padding:8px 14px;
  font-size:18px;
  font-weight: 600;
  cursor: pointer;
  margin:10px 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.adm-pop-input {
  font-size:20px;
  font-weight: 500;
  padding:4px;
  background-color: var(--color-second);
}
.adm-pop-input:focus {
  outline: none;
}
@media screen and (max-width:1000px) {
  .admin-err-div {
    width:100%;
    padding:5px;
  }
}
@media screen and (max-width:700px) {
  .admin-err {
    flex-direction: column;
  }
  .admin-err-title {
    font-size:20px;
    word-wrap: break-word;
  }
}


/*----------Discount----------*/


.adm-dis {
  width:100vw;
  min-height:100vh;
  height:auto;
  padding:70px 20px 20px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--color-third);
}
.adm-dis-add {
  width:500px;
  background-color: var(--color);
  display: flex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding:10px;
  margin:10px 0;
}
.adm-dis-title {
  font-size:22px;
  font-weight: 600;
  text-align: center;
  color:var(--color-oposite);
  font-family: 'Poppins', sans-serif;
}
label.adm-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color:transparent;
  border-radius: 5px;
  margin:7px 0;
  width:80%;
  position: relative;
}
.adm-label .adm-place-holder {
  position: absolute;
  transform: translateX(23px);
  transition: 300ms ease;
  opacity:0.8
}
input.adm-input:focus ~ .adm-place-holder {
  transform: translate(23px, -18px);
  font-size:12px;
}
input.adm-input:not(:placeholder-shown) ~ .adm-place-holder {
  transform: translate(23px, -18px);
  font-size:12px;
}
input.adm-input {
  background-color:#eee;
  padding:14px 16px 10px 16px;
  width:100%;
  border:1px solid transparent;
  outline: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
}
input.adm-input:invalid{
  animation: wrong 300ms ease-in-out;
}
input.adm-input:valid {
  background-color: rgb(230, 250, 255);
}
@keyframes wrong {
  0% {transform: translateX(0)}
  33% {transform: translateX(-5px)}
  66% {transform: translateX(5px)}
  100% {transform: translateX(0);}
}
.adm-place-holder {
  cursor:text;
}
.adm-submit {
  padding:8px 18px;
  background-color: var(--color-oposite);
  color:var(--color);
  border-radius: 4px;
  font-size:18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin:10px 0;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.adm-dis-div {
  width:100%;
  background-color: var(--color-second);
  color:var(--color-oposite);
  display: flex;
  padding:10px;
  margin:10px 0;
  align-items: center;
  justify-content: space-between;
  font-size:18px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-family: 'Poppins', sans-serif;
}

/*----------Products----------*/


.adm-prod {
  width:100vw;
  background-color: var(--color-third);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding:70px 20px 20px 20px;
}
.adm-prod-form {
  width:1000px;
  max-width:calc(100% - 20px);
  color: #101010;
  display: flex;
  padding:10px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: var(--color);
  font-family: 'Poppins', sans-serif;
}
.adm-prof-title {
  margin:10px 0 20px 0;
  font-size:24px;
  font-weight: 600;
  color:var(--color-oposite)
}
.adm-option {
  font-size:18px;
  font-weight: 500;
  outline: none;
  background-color: var(--color);
  color:var(--color-oposite);
}
.adm-option-label {
  width:80%;
  margin:10px 0;
}
.adm-prod-submit {
  color: var(--color);
  background-color:var(--color-oposite);
  padding:6px 20px;
  font-size:20px;
  font-weight: 600;
  margin:10px 0;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width:700px) {
  label.adm-label {
    width:calc(100% - 20px)
  }
  .adm-option-label {
    width:calc(100% - 20px)
  }
  .adm-prod {
    padding:70px 10px 10px 10px;
  }
}

/*----------List---------*/


.adm-list {
  width:100vw;
  height:100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-third);
}
.adm-list-container {
  width:500px;
  background-color: var(--color);
  display: flex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding:10px;
  margin:10px 0;
}
.adm-list-title {
  color:var(--color-oposite);
  font-size:22px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

}
.adm-list-name {
  font-size:18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color:var(--color-oposite)
}
.adm-list-delete, .adm-list-delete-dark {
  aspect-ratio: 1/1;
  height:40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.adm-list-delete {
  background-image: url(../Main/svg-dark/delete.svg);
}
.adm-list-delete-dark {
  background-image: url(../Main/svg/delete.svg);
}

@media screen and (max-width:800px) {
  .adm-list {
    flex-direction: column;
    padding:0 10px;
  }
  .adm-list-container {
    max-width: calc(100% - 20px);
  }
  .adm-list-title {
    font-size:20px;
    word-wrap: break-word;
  }
  .adm-list-name {
    font-size:16px;
  }
}