:root {
    --black:#0b0b0b;
    --dark-principal:#0b0b0b;
    --color:white;
    --color-second:#eeeeee;
    --color-third:#ddd;
    --color-oposite:#0b0b0b;
    --gradient: linear-gradient(to right, #d604cf, #9822ff);
    --first:#e684ae;
    --second:#79cbca;
}
.fav-div {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width:100vw;
    margin-top:50px;
    position: relative;
}
.fav-center {
    height: auto;
    min-height:calc(100vh - 50px);
    background-color: var(--color-second);
    width:60vw;
    padding:30px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width:1000px) {
    .fav-center {
        padding:0 20px;
        margin:0;
        width:100vw;
    }
}


/*----------Cart----------*/


.cart-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width:100vw;
    margin-top:50px;
    position: relative;
    background-color: var(--color-third);
    padding:50px 20px;
    flex-wrap: wrap;
}
.cart-left {
    background-color:var(--color-second);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    width:800px;
    margin-bottom:50px;
}
.cart-product {
    margin:20px;
    height:150px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.cart-photo {
    height:100%;
    aspect-ratio: 10/8;
    object-fit: cover;
    object-position: center;
}

.cart-det {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:100%;
    width:100%;
    text-align: left;
    flex-direction: column;
    margin-left:10px;
}
.cart-name {
    font-size:24px;
    font-weight: 600;
    width:100%;
    color:var(--color-oposite);
    font-family: 'Poppins', sans-serif;
}
.cart-info {
    width:100%;
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:var(--color-oposite);
}
.cart-action {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width:30%;
    height:100%;
    padding:5px;
}
.cart-price {
    font-size:18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
.cart-price-old {
    font-size:14px;
    color:grey;
    font-weight: 500;
    text-decoration:line-through;
}
span.cart-span {
    font-weight: 500;
}
.cart-price {
    font-size:16px;
    font-weight: 600;
    color:var(--color-oposite)
}
.cart-price-new {
    font-size:16px;
    font-weight: 600;
}
.cart-price-flex {
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.cart-option {
    background-color: var(--color);
    color:var(--color-oposite);
    outline: none;
    width:40px;
    font-weight: 600;
}
.cart-number {
    font-size:24px;
    color:var(--color-oposite)
}
.cart-delete, .cart-delete-dark {
    width:40px;
    height:40px; 
    cursor: pointer;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.cart-delete {
    background-image: url(../Main/svg-dark/remove-shopping-cart.svg);
}
.cart-delete-dark {
    background-image: url(../Main/svg/remove-shopping-cart.svg);
}
.cart-right {
    width:330px;
    background-color: var(--color-second);
    position: sticky;
    top:100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding:10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color:var(--color-oposite)
}
.cart-title {
    font-size:24px;
    font-weight: 600;
    color:var(--color-oposite);
    font-family: 'Poppins', sans-serif;
}
.cart-text {
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight: 600;
    color:var(--color-oposite)
}
.cart-right-price {
    font-size:20px;
    font-weight: 500;
    color:var(--color-oposite)
}
.cart-right-free {
    font-size:20px;
    font-weight: 500;
}
.cart-continue {
    margin:5px 0;
    width:calc(100% - 10px);
    margin:5px;
    background-color: var(--dark-principal);
    color:var(--color);
    padding:4px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}
.cart-form-input {
    width:280px;
    color:var(--color-oposite);
    font-size:20px;
    padding:5px;
    background-color: var(--color);
}
.cart-form-input:focus {
    outline: none;
}
.cart-form-submit, .cart-form-submit-dark {
    width:50px;
    height:40px;
    color:var(--color);
    cursor: pointer;
    background-color: var(--color);
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.cart-form-submit {
    background-image: url(../Main/svg-dark/double-right.svg);
}
.cart-form-submit-dark {
    background-image: url(../Main/svg/double-right.svg);
}
.cart-continue a {
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.cart-line::before {
    content:'';
    position: absolute;
    width:310px;
    height:2px;
    border-radius: 2px;
    background-color: var(--dark-principal);
    translate:0 -6px;
    opacity: 0.7;
}


/*----------Media Queries---------*/

@media screen and (max-width:700px) {   
    .cart-div {
        padding:20px 10px;
    }
    .cart-name {
        font-size:20px;
        line-height:24px;
    }
    .cart-info {
        line-height: 20px;
        font-size:16px;
    }
    .cart-product {
        flex-wrap: wrap;
        flex-direction: column;
        height:400px;
        width:480px;
    }
    .cart-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .cart-photo {
        aspect-ratio: 9/16;
        height:400px;
        object-fit: contain;
    }
    .cart-det {
        height:50%;
        width:50%;
        padding-top:5px;
    }
    .cart-action {
        height:50%;
        width:50%;
        justify-content: flex-end;
        padding: 5px;
    }
}
@media screen and (max-width:520px) {
    .cart-product {
        width:400px;
        height:300px
    }
    .cart-det {
        margin-left:0;
    }
    .cart-left {
        width:420px;
    }
    .cart-photo {
        height:300px;
    }
    .cart-delete-dark, .cart-delete {
        display: none;
    }
}
@media screen and (max-width:420px) {
    .cart-product {
        width:300px;
        height:260px;
    }
    .cart-photo {
        height:260px
    }
    .cart-left {
        width:340px;
    }
}