:root {
  --dark-principal:#0b0b0b;
  --color:white;
  --color-second:#eeeeee;
  --color-oposite:#0b0b0b;
  --gradient: linear-gradient(to right, #d604cf, #9822ff);
  --first:#e684ae;
  --second:#79cbca;
}
body {
  background-color: var(--color-second);
}
.navbar, .navbar-closed {
  width:100vw;
  height:50px;
  background-color:var(--color);
  position: fixed;
  top:0;
  box-shadow:0 2px 3px var(--color);
  z-index:10;
  color:var(--color-oposite);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 400ms ease background-color;
}
.nav-logo-second {
  display: none;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  margin-left:50px;
  color:var(--color-oposite)
}
.nav-logo a {
  font-size:35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Freehand', sans-serif;
  height:50px;
  padding:0 8px;
  width:45px;
  height:45px;
  background-image: url(../../clothing/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat:  no-repeat;
  cursor: pointer;
}
.nav-left-btn {
  padding:0 14px;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:16px;
}
.nav-left-type {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width:35px;
  height:35px;
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}
.nav-left-photo1 {
  background-image: url(../../svg-icon/male.svg);
}
.nav-left-photo2 {
  background-image: url(../../svg-icon/female.svg);
}
.nav-left-photo3 {
  background-image: url(../Main/svg-dark/layers.svg);
}
.nav-left-photo3-dark {
  background-image: url(../Main/svg/layers.svg);
}
.nav-drop, .nav-drop-active {
  position: absolute;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  left:0;
  width:100vw;
  height:350px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  top:50px;
}
.nav-drop {
  visibility: hidden;
}
.nav-drop-active {
  visibility: visible;
}
.nav-drop-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:500px;
  height:50px;
  color:var(--color-oposite)
}
.nav-drop-top-colection {
  justify-content: center;
  display: flex;
  align-items: center;
  width:500px;
  height:50px;
  color:var(--color-oposite)
}
.nav-drop-colection {
  padding:6px 16px;
  margin:10px 20px;
  font-size:20px;
  font-weight: 600;
}
.nav-drop-link, .nav-drop-link-active {
  padding:6px 16px;
  margin:10px 20px;
  font-size:20px;
  font-weight: 600;
  cursor: pointer;
}
.nav-drop-link-active {
  border-radius: 4px;
  position: relative;
}
.nav-drop-link-active::before {
  content: '';
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width:20px;
  height:15px;
  background-color: var(--color-oposite);
  position: absolute;
  bottom: -15px;
  left:50%;
  transform: translate(-50%);
}
.nav-drop-content {
  width:1000px;
  height:calc(100% - 50px);
}
.nav-drop-content-top {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-drop-img:hover ~ .nav-square-text-man,
.nav-drop-img:hover ~ .nav-square-text-woman,
.nav-drop-img:hover ~ .nav-square-text {
  text-decoration: underline 2px;
}
.nav-drop-square {
  width:200px;
  height:200px;
  position: relative;
}
.nav-drop-img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.nav-drop-coll {
  object-fit: contain;
  object-position: center;
}
.nav-1 {
  background-image: url(../../clothing/navbarPhotos/manTop.png)
}
.nav-2 {
  background-image: url(../../clothing/navbarPhotos/manTee.png)
}
.nav-3 {
  background-image: url(../../clothing/navbarPhotos/manHoo.png);
}
.nav-4 {
  background-image: url(../../clothing/navbarPhotos/manBottom.png);
}
.nav-5 {
  background-image: url(../../clothing/navbarPhotos/manSho.png);
}
.nav-6 {
  background-image: url(../../clothing/navbarPhotos/manPan.png);
}
.nav-7 {
  background-image: url(../../clothing/navbarPhotos/manFoo.png);
}
.nav-8 {
  background-image: url(../../clothing/navbarPhotos/manSne.png);
}
.nav-9 {
  background-image: url(../../clothing/navbarPhotos/manSli.png);
}
.nav-10 {
  background-image: url(../../clothing/navbarPhotos/womanTop.png);
}
.nav-11 {
  background-image: url(../../clothing/navbarPhotos/womanTee.png);
}
.nav-12 {
  background-image: url(../../clothing/navbarPhotos/womanHoo.png);
}
.nav-13 {
  background-image: url(../../clothing/navbarPhotos/womanBottom.png);
}
.nav-14 {
  background-image: url(../../clothing/navbarPhotos/womanSho.png);
}
.nav-15 {
  background-image: url(../../clothing/navbarPhotos/womanPan.png);
}
.nav-16 {
  background-image: url(../../clothing/navbarPhotos/womanFoo.png);
}
.nav-17 {
  background-image: url(../../clothing/navbarPhotos/womanSne.png);
}
.nav-18 {
  background-image: url(../../clothing/navbarPhotos/womanSli.png);
}
.nav-19 {
  background-image: url(../Main/svg-dark/layers.svg);
}
.nav-19-dark {
  background-image: url(../Main/svg/layers.svg);
}
.nav-square-text-woman, .nav-square-text-man, .nav-square-text {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
  position: absolute;
  bottom:-40px;
  text-align: center;
  left:50%;
  transform: translate(-50%);
  background-color: transparent;
}
.nav-square-text-man {
  color:var(--second)
}
.nav-square-text-woman {
  color:var(--first)
}
.nav-square-text {
  color:var(--color-oposite)
}
.nav-text-coll {
  overflow: hidden;
  height:30px;
  white-space: nowrap;  
  text-overflow: ellipsis;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right:50px;
}
.nav-lang {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size:20px;
  border:none;
  outline: none;
  color:var(--color-oposite);
  background-color: var(--color);
  transition: 400ms ease;
  padding:4px;
}
.nav-icon {
  height:35px;
  aspect-ratio: 1/1;
  margin:0 20px;
  position: relative;
}
.nav-icon-img1, .nav-icon-img2, .nav-icon-img3, .nav-icon-img4, .nav-icon-img5, .nav-icon-img6,
.nav-icon-dark-img1, .nav-icon-dark-img2, .nav-icon-dark-img3, .nav-icon-dark-img4, .nav-icon-dark-img5, .nav-icon-dark-img6{
  background-size: 35px 35px;
  position: absolute;
  aspect-ratio: 1/1;
  height:100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-icon-img1 {
  background-image: url(../Main/svg-dark/like.svg);
}
.nav-icon-img2 {
  background-image: url(../Main/svg-dark/shopping-cart-one.svg);
}
.nav-icon-img3 {
  background-image: url(../Main/svg-dark/people.svg);
}
.nav-icon-img4 {
  background-image: url(../Main/svg-dark/logout.svg);
}
.nav-icon-img5 {
  background-image: url(../Main/svg-dark/login.svg);
}
.nav-icon-img6 {
  background-image: url(../Main/svg-dark/user-business.svg);
}
.nav-icon-dark-img1 {
  background-image: url(../Main/svg/like.svg);
}
.nav-icon-dark-img2 {
  background-image: url(../Main/svg/shopping-cart-one.svg);
}
.nav-icon-dark-img3 {
  background-image: url(../Main/svg/people.svg)
}
.nav-icon-dark-img4 {
  background-image: url(../Main/svg/logout.svg);
}
.nav-icon-dark-img5 {
  background-image: url(../Main/svg/login.svg);
}
.nav-icon-dark-img6 {
  background-image: url(../Main/svg/user-business.svg);
}
.nav-nr-absolute {
  position: absolute;
  left:100%;
  transform: translate(-50%);
  background-color: var(--principal);
  color:var(--color);
  padding:0 3px;
  font-size:16px;
  line-height: 18px;
  cursor: pointer;
  border-radius: 4px;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
.nav-drop-right {
  position: absolute;
  background-color: var(--color);
  top:90px;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease;
  left:50%;
  transform: translate(-50%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding:10px;
  color:var(--color-oposite);
  text-align: center;
  padding-right:5px;
  font-weight: 500;
  width:250px;
}
.nav-drop-right::before {
  content: '';
  left:50%;
  transform: translate(-50%,0);
  background-color:var(--color-oposite);
  width:20px;
  height:15px;
  top:-17px;
  transition: 400ms ease;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.nav-icon-active .nav-drop-right{
  visibility: visible;
  opacity: 1;
  top:70px;
}
.nav-drop-set {
  width:130px;
  font-size:17px;
  font-weight: 500;
}
.nav-connect {
  text-decoration: underline;
  color:var(--color-oposite);
}
.nav-spec {
  width:300px;
}
.nav-profile-more {
  text-decoration: underline;
  margin:5px 0;
}
.nav-fav {
  width:280px;
  margin:10px 0;
  height:100px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
}
.nav-fav-man {
  background:linear-gradient(to right,#eee, var(--second))
}
.nav-fav-woman {
  background: linear-gradient(to right, #eee, var(--first));
}
.nav-fav-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding-right:10px;
  height:100%;
  width: 200px;
  font-family: 'Noto sans serif', sans-serif;
}
.nav-top {
  justify-content: flex-start;
  height:75%;
}
.nav-fav-photo {
  height:100%;
  aspect-ratio: 8/10;
  object-fit:cover;
}
.nav-fav-nume {
  text-align: left;
  font-size:20px;
  justify-self: flex-start;
  line-height:20px;
  padding-top:5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:black;
  width: 100%;
  font-family: 'Dancing script', sans-serif;
  font-weight: 700;
  text-align: right;
}
.nav-fav-price {
  font-weight: 600;
  font-size:16px;
  font-family: 'Noto sans georgian';
  color:black;
  display: flex;
  align-items: center;
}
.nav-fav-del1, .nav-fav-del2 {
  width:40px;
  height:28px;
  align-self: flex-end;
  margin-left:10px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  padding-right:10px;
  margin-right:-10px;
}
.nav-fav-del1 {
  background-image: url(../Main/svg-dark/unfav.svg);
}
.nav-fav-del2 {
  background-image: url(../Main/svg-dark/remove-shopping-cart.svg);
}
.nav-fav-nr {
  font-size:15px;
  line-height:15px;
  color:rgb(42, 42, 42);
}
.nav-fav-title {
  font-size:20px;
  color:var(--color-oposite)
}
.nav-fav-size {
  line-height:15px;
  font-size:15px;
  color:rgb(42, 42, 42);
}
.nav-tot, .nav-set {
  background-color: var(--dark-principal);
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
  margin:10px 0;
  color:var(--color);
  font-family: 'Noto sans serif', sans-serif;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--color);
}
.nav-set {
  font-size:17px;
}
.nav-none {
  width:280px;
  height:30px;
  font-size:18px;
  font-family: 'Poppins',sans-serif;
  font-weight: 800;
  color:var(--color-oposite);
  margin-top:10px;
}
.nav-arrow, .nav-arrow-dark {
  background-size: 30px 30px;
  margin-left:10px;
  background-repeat: no-repeat;
  width:30px;
  height:30px;
  transition: 400ms ease;
}
.nav-arrow {
  background-image: url(../Main/svg/double-right.svg);
}
.nav-arrow-dark {
  background-image: url(../Main/svg-dark/double-right.svg);
}
.nav-theme {
  margin:0 5px;
  height:30px;
}
.nav-theme-input {
  display: none;
}
.nav-switch {
  width:60px;
  height:30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding:3px;
  border:3px solid var(--dark-principal);
  transition-property:background-color;
  transition:400ms ease;
  cursor: pointer;
}
.nav-handle, .nav-handle-dark {
  width:24px;
  height:24px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition-property: background-image, background-color;
  transition: 400ms ease;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.nav-handle {
  background-image: url(../Main/svg/moon.svg);
  transform: translateX(24px);
}
.nav-handle-dark {
  background-image: url(../Main/svg-dark/sun.svg);
}

/*----------Media Queries----------*/


@media screen and (max-width:1000px) {
  .navbar, .navbar-closed {
    height:calc(100vh - 50px);
    flex-direction: column;
    justify-content: flex-start;
    min-height: 500px;
    width:100px;
    margin-top:50px;
    align-items: flex-start;
    transition: 400ms ease;
    justify-content: center;
  }
  .navbar-closed {
    transform: translate(-100px);
  }
  .nav-logo {
    display: none;
  }
  .nav-logo-second {
    font-size:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Freehand', sans-serif;
    height:50px;
    padding:0 8px;
    width:45px;
    height:45px;
    background-image: url(../../clothing/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nav-logo-second a {
    width:70px;
    height:50px;
  }
  .navbar-bg, .navbar-bg-closed {
    z-index:9;
    background-color: black;
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    transition: 400ms ease;
  }
  .navbar-bg {
    opacity: 0.6;
    visibility: visible;
  }
  .navbar-bg-closed {
    opacity: 0;
    visibility: hidden;
  }
  .navbar-top-container {
    width:100vw;
    height:50px;
    background-color: var(--color);
    box-shadow: 1px 1px 3px var(--color);
    position: fixed;
    top:0;
    left:0;
    z-index:11;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-open, .nav-open-dark {
    width:35px;
    height:35px;
    position: absolute;
    left:10px;
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index:11;
  }
  .nav-open {
    background-image: url(../Main/svg-dark/hamburger-button.svg);
  }
  .nav-open-dark {
    background-image: url(../Main/svg/hamburger-button.svg);
  }
  .side-switch, .side-switch-dark {
    position:absolute;
    width:40px;
    background-position: center;
    background-size: 35px 35px;
    cursor: pointer;
    background-repeat: no-repeat;
    height:40px;
    z-index:40px;
    right:10px;
    top:5px;
    background-color: var(--color);
  }
  .side-switch {
    background-image: url(../Main/svg/filter.svg);
  }
  .side-switch-dark {
    background-image: url(../Main/svg-dark/filter.svg)
  }
  .nav-left {
    flex-direction: column;
    height:auto;
    margin-left:0;
    width:100%;
  }
  .nav-left-btn {
    flex-direction: column;
    height:auto;
    width:100%;
    margin:8px 0;
  }
  .nav-theme {
    margin:5px 0;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-left-type {
    height:40px;
    width:100%;
  }
  .nav-right {
    flex-direction: column;
    height:auto;
    margin-right:0;
    width:100%;
  }
  .nav-icon {
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:8px 0;
  }
  .nav-icon-img1, .nav-icon-img2, .nav-icon-img3, .nav-icon-img4, .nav-icon-img5, .nav-icon-img6
  .nav-icon-dark-img1, .nav-icon-dark-img2, .nav-icon-dark-img3, .nav-icon-dark-img4, .nav-icon-dark-img5, .nav-icon-dark-img6 {
    width:100%;
  }
  .nav-drop-right {
    z-index:10;
    top:50%;
    left:50px;
    transform: translate(50px, -50%);
  }
  .nav-drop-right::before {
    left:0;
    top:50%;
    transform: translate(0,-50%);
    left:-20px;
    rotate: 270deg;
  }
  .nav-icon-active .nav-drop-right {
    top:45%;
  }
  .nav-drop-active, .nav-drop {
    justify-content:center;
    width:calc(100vw - 100px);
    height:calc(100vh - 50px);
    margin-left:100px;
    top:0;
  }
  .nav-square-text-woman, .nav-square-text-man, .nav-square-text {
    font-size:24px;
  }
  .nav-drop-content {
    width:100%;
    height:100%;
    padding-bottom:50px;
  }
  .nav-drop-top, .nav-drop-top-colection {
    width:calc(100% - 20px);
  }
  .nav-drop-link, .nav-drop-link-active, .nav-drop-colection {
    padding: 8px 0;
    margin:10px 0;
  }
}
@media screen and (max-width:700px) {
  .nav-drop-content-top {
    flex-direction: column;
  }
  .nav-drop-content {
    height:calc(100vh - 100px);
  }
  .nav-drop-square {
    scale:0.6;
    justify-content: space-evenly;
  }
  .nav-fav {
    width:230px;
  }
  .nav-fav-flex {
    width: 150px;
  }
  .nav-drop-right {
    width:250px;
  }
  .nav-none {
    width:230px;
  }
  .nav-drop-link, .nav-drop-link-active, .nav-drop-colection {
    font-size:18px;
    padding:0;
    margin:0;
  }
}