:root {
    --dark-principal:#0b0b0b;
    --color:white;
    --color-second:#eeeeee;
    --color-oposite:#0b0b0b;
    --gradient: linear-gradient(to right, #d604cf, #9822ff);
    --first:#e684ae;
    --second:#79cbca;
}
.side-filter-bar, .side-filter-closed{
    width:230px;
    height:100vh;
    background-color: var(--color);
    position: fixed;
    color:var(--color-oposite);
    padding:70px 10px 20px 10px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    z-index:9;
    top:0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
}
.my-credit-card-input {
  border-radius: 4px;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  color:white;
  background-color: black;
}


.my-stripe-button:hover {
  background-color: #0062cc;
}
.side-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
    width:100%;
    background-color: var(--color);
}
.side-price-input {
    outline: none;
    color:var(--color);
    border:1px solid var(--color);
    width:100%;
    padding:3px 5px;
    background-color: var(--color-oposite);
}
.side-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    flex-direction: column;
}
.side-font {
    font-weight: 600;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
}
.side-expand {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;
    position: relative;
    border-top: 1px solid var(--color-oposite);
}
.side-selection::selection {
    background-color: transparent;
    color:var(--color-oposite)
}
.side-plus, .side-minus, .side-plus-dark, .side-minus-dark, .side-del, .side-del-dark {
    width:25px;
    height:25px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.side-plus {
    background-image: url(../Main/svg-dark/plus.svg);
}
.side-minus {
    background-image: url(../Main/svg-dark/minus.svg);
}
.side-plus-dark {
    background-image: url(../Main/svg/plus.svg);
}
.side-minus-dark {
    background-image: url(../Main/svg/minus.svg);
}
.side-del {
    background-image: url(../Main/svg-dark/delete.svg);
}
.side-del-dark {
    background-image: url(../Main/svg/delete.svg);
}
.side-overflow, .side-overflow-expand {
    color:var(--color-oposite);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    width:100%;
    margin-bottom: 10px;
}
.side-overflow {
    display: none;
}
.side-size-check {
    display:none;
}
.side-size-check:checked ~ .side-size-label {
    background-color: var(--principal);
    font-weight: 600;
    color:var(--color)
}
.side-size-check:checked ~ .side-size-label .side-size-img-up {
    background-image: url(../Main/svg/arrow-right-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down {
    background-image: url(../Main/svg/arrow-right-down.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-up-dark {
    background-image: url(../Main/svg-dark/arrow-right-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down-dark {
    background-image: url(../Main/svg-dark/arrow-right-down.svg);
}
.side-size-label {
    padding:5px 0;
    border:1px solid var(--principal);
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}
.side-size-img-up, .side-size-img-down, .side-size-img-up-dark, .side-size-img-down-dark {
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.side-size-img-up {
    background-image: url(../Main/svg-dark/arrow-right-up.svg)
}
.side-size-img-down {
    background-image: url(../Main/svg-dark/arrow-right-down.svg)
}
.side-size-img-up-dark {
    background-image: url(../Main/svg/arrow-right-up.svg)
}
.side-size-img-down-dark {
    background-image: url(../Main/svg/arrow-right-down.svg)
}
.side-size-check:checked ~ .side-colors {
    outline:3px solid var(--color-oposite)
}
.side-colors {
    width:35px;
    height:35px;
    border:1px solid var(--color-oposite);
    cursor: pointer;
    display: flex;
    margin:5px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}
.side-color1 {
    background-color:red ;
}
.side-color2 {
    background-color: blue;
}
.side-color3 {
    background-color:pink;
}
.side-color4 {
    background-color:orange ;
}
.side-color5 {
    background-color:green ;
}
.side-color6 {
    background-color:black ;
}


/*----------Media Queries----------*/


@media screen and (max-width:1000px) {
    .side-filter-bar {
        width:230px;
        height:100vh;
        z-index:9;
        transition: 0ms;
        right:0;
        z-index:5;
    }
    .side-filter-bg {
        background-color: var(--color);
        opacity: 0.6;
        left:0;
        top:0;
        width: 100vw;
        height:100vh;
        z-index:1;
        position: fixed;
    }
    .side-filter-closed {
        right:-230px;
        transition: 0;
        z-index:11;
    }
    .side-filter-closed .side-switch,
    .side-filter-closed .side-switch-dark {
        transform: translate(-230px);
    }
}