:root {
    --black:#0b0b0b;
    --dark-principal:#0b0b0b;
    --color:white;
    --color-second:#eeeeee;
    --color-oposite:#0b0b0b;
    --gradient: linear-gradient(to right, #d604cf, #9822ff);
    --first:#e684ae;
    --second:#79cbca;
}
.side-filter-bar, .side-filter-closed{
    width:230px;
    height:100vh;
    background-color: var(--color);
    position: fixed;
    color:var(--color-oposite);
    padding:70px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index:9;
    top:0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
    transition: 400ms ease;
}
.side-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
    background-color: var(--color);
}
.side-id-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-id-label .side-id-input:not(:focus) {
    width:0;
    padding:0;
}
.side-id-input {
    outline: none;
    color:var(--color-second);
    opacity: 0.9;
    background-color: var(--color-oposite);
    height:40px;
    font-size:18px;
    transition: 400ms ease;
    width:170px;
    padding: 3px 5px;
}
.side-id-img, .side-id-img-dark {
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-oposite);
    opacity: 0.9;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.side-id-img {
    background-image: url(../Main/svg/search.svg);
}
.side-id-img-dark {
    background-image: url(../Main/svg-dark/search.svg);
}
.side-price-input {
    outline: none;
    color:var(--color-second);
    opacity: 0.9;
    width:100%;
    padding:3px 5px;
    background-color: var(--color-oposite);
}
.side-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width:100%;
}
.side-font {
    font-family: 'Noto sans georgian', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width:calc(50% - 5px);
    text-align: center;
}
.side-size {
    color:var(--color-oposite);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    width:calc(50% - 5px);
}
.side-size-check {
    display:none
}
.side-size-check:checked ~ .side-size-label {
    background-color: var(--principal);
    font-weight: 600;
    color:var(--color)
}
.side-size-check:checked ~ .side-size-label .side-size-img-up {
    background-image: url(../Main/svg/arrow-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down {
    background-image: url(../Main/svg/arrow-down.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-up-dark {
    background-image: url(../Main/svg-dark/arrow-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down-dark {
    background-image: url(../Main/svg-dark/arrow-down.svg);
}
.side-size-label {
    padding:5px 0;
    border-radius:3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-size-img-up, .side-size-img-down, .side-size-img-up-dark, .side-size-img-down-dark {
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.side-size-img-up {
    background-image: url(../Main/svg-dark/arrow-up.svg)
}
.side-size-img-down {
    background-image: url(../Main/svg-dark/arrow-down.svg)
}
.side-size-img-up-dark {
    background-image: url(../Main/svg/arrow-up.svg)
}
.side-size-img-down-dark {
    background-image: url(../Main/svg/arrow-down.svg)
}
.side-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width:calc(50% - 5px);
    flex-direction: column;
}
.side-search {
    margin:10px 0;
    width:100%;
}


/*----------Media Queries----------*/


@media screen and (max-width:1000px) {
    .side-filter-bar {
        width:230px;
        margin-left:100px;
        height:100vh;
        z-index:20;
        transition: 0ms;
    }
    .side-switch, .side-switch-dark {
        position:absolute;
        width:40px;
        background-position: center;
        background-size: 35px 35px;
        cursor: pointer;
        background-repeat: no-repeat;
        height:40px;
        z-index:40px;
        left:-70px;
        top:20px;
    }
    .side-switch {
        background-image: url(../Main/svg/filter.svg);
    }
    .side-switch-dark {
        background-image: url(../Main/svg-dark/filter.svg)
    }
    .side-filter-closed {
        left:-230px;
        transition: 0ms;
        z-index:20;
    }
    .side-filter-closed .side-switch,
    .side-filter-closed .side-switch-dark {
        left:260px;
    }
}
@media screen and (max-width:500px) {
    .side-filter-bar {
        margin-left:70px;
    }
    .side-switch{
        left:-55px;
    }
    .side-filter-closed .side-switch,
    .side-filter-closed .side-switch-dark{
        left:245px;
    }
}