:root {
    --black:#0b0b0b;
    --dark-principal:#0b0b0b;
    --color:white;
    --color-second:#eeeeee;
    --color-third:#ddd;
    --color-oposite:#0b0b0b;
    --gradient: linear-gradient(to right, #d604cf, #9822ff);
    --first:#e684ae;
    --second:#79cbca;
}
.footer {
    width:100vw;
    height:300px;
    color:var(--color-oposite);
    background-color: var(--color-third);
    box-shadow: 3px 3px 5px black inset;
    padding: 10px;
}
