:root {
    --black:#0b0b0b;
    --dark-principal:#0b0b0b;
    --color:white;
    --color-second:#eeeeee;
    --color-oposite:#0b0b0b;
    --gradient: linear-gradient(to right, #d604cf, #9822ff);
    --first:#e684ae;
    --second:#79cbca;
    --principal:white;
}
.side-open-btn, .side-open-btn-dark {
    width:40px;
    height:40px;
    position: fixed;
    top:5px;
    left:5px;
    z-index:20;
    cursor: pointer;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.side-open-btn {
    background-image: url(../svg/filter.svg);
}
.side-open-btn-dark {
    background-image: url(../svg-dark/filter.svg);
}
.side-bg, .side-bg-active {
    width:100vw;
    height:100vh;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    transition: 400ms ease;
}
.side-bg {
    visibility: hidden;
    opacity: 0;
}
.side-bg-active {
    visibility: visible;
    opacity: 0.5;
}
.side-filter-bar, .side-filter-active {
    width:230px;
    height:100vh;
    background-color: var(--color);
    position: fixed;
    color:var(--color-oposite);
    padding:70px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index:9;
    left:-230px;
    top:0;
    transition: 400ms ease;
}
.side-filter-active {
    translate: 230px;
}
.side-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
    background-color: var(--color);
}
.side-id-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-id-label .side-id-input:not(:focus) {
    width:0;
    padding:0;
}
.side-id-input {
    outline: none;
    color:var(--color-second);
    opacity: 0.9;
    background-color: var(--color-oposite);
    height:40px;
    font-size:18px;
    transition: 400ms ease;
    width:170px;
    padding: 3px 5px;
}
.side-id-img, .side-id-img-dark {
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-oposite);
    opacity: 0.9;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.side-id-img {
    background-image: url(../svg/search.svg);
}
.side-id-img-dark {
    background-image: url(../svg-dark/search.svg);
}
.side-price-input {
    outline: none;
    color:var(--color-second);
    opacity: 0.9;
    width:100%;
    padding:3px 5px;
    background-color: var(--color-oposite);
}
.side-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width:100%;
}
.side-font {
    font-family: 'Noto sans georgian', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width:calc(50% - 5px);
    text-align: center;
}
.side-size {
    color:var(--color-oposite);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    width:calc(50% - 5px);
}
.side-size-check {
    display:none
}
.side-size-check:checked ~ .side-size-label {
    background-color: var(--principal);
    color:var(--color)
}
.side-size-check:checked ~ .side-size-label .side-size-img-up {
    background-image: url(../svg/arrow-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down {
    background-image: url(../svg/arrow-down.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-up-dark {
    background-image: url(../svg-dark/arrow-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down-dark {
    background-image: url(../svg-dark/arrow-down.svg);
}
.side-size-label {
    padding:5px 0;
    border-radius:3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-size-img-up, .side-size-img-down, .side-size-img-up-dark, .side-size-img-down-dark {
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.side-size-img-up {
    background-image: url(../svg-dark/arrow-up.svg)
}
.side-size-img-down {
    background-image: url(../svg-dark/arrow-down.svg)
}
.side-size-img-up-dark {
    background-image: url(../svg/arrow-up.svg)
}
.side-size-img-down-dark {
    background-image: url(../svg/arrow-down.svg)
}
.side-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width:calc(50% - 5px);
    flex-direction: column;
}
.side-search {
    margin:10px 0;
    width:100%;
}