@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin:0;
  overflow-x: hidden;
  overflow-y: auto;
}
:root {
  --black:#0b0b0b;
  --dark-principal:#1e1e1e;
  --color:white;
  --color-second:#eeeeee;
  --color-oposite:#0b0b0b;
  --color-third: #ddd;
  --gradient:linear-gradient(180deg, #2289ff 0%,#d604cf 100%);
  --first:#e684ae;
  --second:#79cbca;
  --principal:#2289ff;
}
.principal {
  color:var(--principal)
}
::selection {
  background-color: var(--principal);
  color: white;
}
.loading-bg {
  width:100vw;
  height:100vh;
  z-index:1;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spin {
  width:200px;
  height:100px;
  font-size:30px;
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  text-align: center;
  color:black;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-clear-button{
  display: none;
}
.acc-main {
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: #ddd;
  padding:0 10px;
}
.container {
  position: relative;
  width:768px;
  overflow: hidden;
  max-width: 100%;
  min-height: 480px;
  background-color: #fff;
  border-radius: 10px;
}
.sign-in, .sign-up {
  position: absolute;
  left:0;
  top:0;
  height:100%;
  transition: all 0.6s ease-in-out;
}
.sign-up {
  width:50%;
  opacity: 0;
  z-index:1;
}
.sign-in {
  width:50%;
  z-index:2;
}

/*----------Sign Up / Sign In----------*/


form.acc-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;
  text-align: center;
}
.acc-form-title {
  font-size:26px;
  font-family: 'Noto sans serif', sans-serif;
  font-weight: 600;
  margin:10px 0;
}
.acc-form-text {
  font-size:14px;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}
input.acc-input {
  background-color:#eee;
  padding:12px 15px 10px 55px;
  width:100%;
  border:1px solid transparent;
  outline: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size:14px;
}
input.acc-input:invalid{
  animation: wrong 300ms ease-in-out;
  border:1px solid rgb(249, 129, 129);
}
input.acc-input:valid {
  background-color: rgb(230, 250, 255);
}
label.acc-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color:transparent;
  border-radius: 5px;
  margin:7px 0;
  width:80%;
  position: relative;
}
.place-holder {
  cursor:text;
}
.acc-label .place-holder {
  position: absolute;
  transform: translateX(55px);
  transition: 300ms ease;
  opacity:0.8
}
.acc-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:5px 0;
}
.type-place-holder {
  padding: 8px 16px;
  transition: 400ms ease;
  border-radius: 5px;
  margin:0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width:40px;
  height:40px;
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.acc-type-input:checked ~ .type-place-holder {
  background-color: black;
  color: white;
}
input.acc-input:focus ~ .place-holder {
  transform: translate(55px, -16px);
  font-size:12px;
}
input.acc-input:not(:placeholder-shown) ~ .place-holder {
  transform: translate(55px, -16px);
  font-size:12px;
}
@keyframes wrong {
  0% {transform: translateX(0)}
  33% {transform: translateX(-5px)}
  66% {transform: translateX(5px)}
  100% {transform: translateX(0);}
}
.acc-svg {
  scale:0.6;
  position: absolute;
  z-index:1;
  border-right: 1px solid rgb(39, 39, 39);
  padding-right:10px;
}
.acc-svg-sign {
  cursor: pointer;
  width:30px;
  height:30px;
}
.acc-svg-eye {
  position: absolute;
  right:0;
  z-index:1;
  border-left:1px solid rgb(39,39,39);
  scale:0.7;
  padding-left:10px;
}
button.acc-btn {
  color:#fff;
  background-color:transparent;
  font-size:18px;
  padding: 6px 55px;
  border-radius: 5px;
  border:1px solid white;
  outline:none;
  transition: transform 80ms ease;
  cursor: pointer;
  margin:5px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 300ms ease;
}
button.acc-btn:hover {
  background-color: white;
  color:black
}
.acc-btn {
  background-color: transparent;
  border:2px solid #fff;
}
.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.right-panel-active .sign-in {
  transform: translateX(100%);
}
.acc-submit {
  border-radius: 5px;
  padding:6px 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size:18px;
  background: black;
  color:white;
  margin:10px 0;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(113, 113, 113, 0.3), 0 0 5px rgba(156, 156, 156, 0.3), 0 rgba(185, 185, 185, 0.3);
}


/*----------Overlay----------*/


.overlay-container {
  position: absolute;
  top:0;
  left:50%;
  width:50%;
  height:100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index:9;
}
.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.overlay {
  position: relative;
  color:#fff;
  left:-100%;
  height:100%;
  width:200%;
  background: linear-gradient(90deg, #25cdfc, #8d16ee);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.right-panel-active .overlay {
  transform: translateX(50%);
}
.overlay-left, .overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top:0;
  height:100%;
  width:50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out
}
.overlay-left {
  transform: translateX(-20%);
}
.overlay-right {
  right:0;
  transform: translateX(0);
}
.right-panel-active .overlay-left {
  transform: translateX(0);
} 
.right-panel-active .overlay-right {
  transform: translateX(20%);
} 
.overlay-title {
  font-size:26px;
  color:white;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom:20px;
}
.overlay-text {
  font-size:16px;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom:5px;
}
.acc-log-svg {
  width:13px;
  aspect-ratio: 1/1;
}


/*----------Counter----------*/


.countdown-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
  font-size: 22px;
  font-weight: 600;
}
.countdown-timer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:0 5px;
  color:white;
  font-family: 'Poppins',sans-serif;
  color: var(--principal);
  padding:3px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  font-size:22px;
  min-width: 150px;
}


/*----------Media Queries----------*/


@media screen and (max-width:600px) {
  label.acc-label {
    width:calc(100% - 5px);
  }
  button.acc-btn {
    padding:6px 0;
    width:calc(100% - 10px)
  }
  button.acc-btn, .acc-submit {
    padding:6px 10px;
  }
  .overlay-left, .overlay-right {
    padding:0 5px;
  }
  .acc-svg {
    scale:0.6;
    padding-right:10px;
    margin-left:-5px;
  }
  input.acc-input {
    padding:12px 5px 10px 45px;
  }
  .type-place-holder {
    padding:8px 5px;
  }
  .acc-svg-eye {
    scale:0.6;
    margin-right:-10px
  }
}


/*----------Main----------*/


.main {
  width:100vw;
  height:auto;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  background-color: #eee;
  flex-direction: column;
}
.main-off {
  height:110vh;
  width:100vw;
  min-height:700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--color-third);
  z-index:1;
  position: relative;
  background-image: url(clothing/pexels-karolina-grabowska-5650037.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.695);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.605);
}
.main-left, .main-right {
  width:50%;
  min-width: 400px;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-left {
  width:30%;
}
.main-right {
  width:50%;
  flex-direction: row;
}
.main-off-text span {
  text-shadow: 1px 1px 2px rgb(185, 28, 28);
}
.main-off-title {
  font-weight: 600;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size:40px;
  line-height: 50px;
  text-align: center;
}
.main-off-text {
  font-weight: 500;
  font-family: 'Noto sans serif',sans-serif;
  font-weight: 600;
  font-size:20px;
  color:white;
  display: flex;
}
.main-off-more {
  font-size:22px;
  font-family: 'Poppins', sans-serif;
  border:2px solid white;
  padding:5px 18px;
  font-weight: 600;
  text-align: center;
  color:white;
  cursor: pointer;
  margin-top:10px;
  transition: 300ms ease;
  z-index:1;
  display: flex;
}
.main-off-more:hover {
  border:2px solid transparent;
  color:black;
  background-color: white;
  box-shadow: 0px 0px 5px white;
}
.main-off-more:hover .nav-arrow {
  background-image: url(components/Main/svg-dark/double-right.svg);
}
.main-off-man, .main-off-woman {
  width:50%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 5px 0 5px;
  flex-direction: column;
}
.main-off-photo-man, .main-off-photo-woman {
  background-size: cover;
  background-position: center;
  height: calc(100% - 200px);
  background-repeat: no-repeat;
  width:100%;
  border-radius: 5px;
  margin-top:50px;
  transition: 400ms ease;
  cursor: pointer;
}
.main-off-photo-man {
  background-image: url(clothing/blisst-man-PhotoRoom.png-PhotoRoom.png);
}
.main-off-photo-woman {
  background-image: url(clothing/blisst-woman-PhotoRoom.png-PhotoRoom.png);
}
.main-off-photo-man:hover,
.main-off-photo-woman:hover {
    scale:1.2;
}
.main-info {
  display: flex;
  width:100vw;
  height:100px;
  background-color: var(--color-third);
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 8px inset black;
}
.main-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.main-info-icon-truck, .main-info-icon-truck-dark,
.main-info-icon-wallet, .main-info-icon-wallet-dark,
.main-info-icon-watch, .main-info-icon-watch-dark {
  width:40px;
  height:40px;
  margin-right:10px;
  background-size: 100% 100%;
  background-position: center;
}
.main-info-icon-truck {
  background-image: url(components/Main/svg-dark/truck.svg);
}
.main-info-icon-wallet {
  background-image: url(components/Main/svg-dark/wallet.svg);
}
.main-info-icon-watch{
  background-image: url(components/Main/svg-dark/stopwatch.svg);
}
.main-info-icon-truck-dark {
  background-image: url(components/Main/svg/truck.svg);
}
.main-info-icon-wallet-dark {
  background-image: url(components/Main/svg/wallet.svg);
}
.main-info-icon-watch-dark{
  background-image: url(components/Main/svg/stopwatch.svg);
}
.main-info-text {
  color:var(--color-oposite);
  font-size:20px;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
  line-height: 25px;
  width:250px;
}
.main-disc {
  width:100vw;
  background-color: var(--color-third);
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.main-disc-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main-disc-top-text {
  font-family: 'Freehand',sans-serif;
  font-size:40px;
  font-weight: 600;
  padding:0 20px;
  color:var(--color-oposite);
}
.main-disc-top-text::before,
.main-disc-top-text::after {
  content:'';
  width: 100%;
  position: absolute;
  height:4px;
  top:50%;
  translate:0 -50%;
  background-color: var(--principal);
}
.main-disc-top-text::before {
  left:-100%;
}
.main-disc-top-text::after {
  right:-100%;
}
.main-disc-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width:100%;
  margin:50px 0;
  flex-direction: column;
}
.main-disc-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-disc-container {
  width:270px;
  height:350px;
  background-color: var(--color);
  margin:30px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.main-disc-photo {
  width:100%;
  height:300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 400ms ease;
}
.main-disc-photo1 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo2 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo3 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo4 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo5 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo6 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo7 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo8 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo9 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo10 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo11 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}
.main-disc-photo12 {
  background-image: url(./clothing/pexels-cottonbro-studio-7762486-PhotoRoom.png-PhotoRoom.png);
}

.main-disc-text {
  width:100%;
  height:50px;
  font-size:16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.main-disc-text-btn {
  cursor: pointer;
  border-radius: 4px;
  padding:3px 6px;
  color:var(--color);
  background-color: var(--color-oposite);
}

/*----------ForgotPassword----------*/

.for {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  min-width: 450px;
  min-height: 500px;
  background-color: var(--color-third);
}
.for-content {
  width:450px;
  max-width: 100%;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding:10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.for-title {
  font-size:22px;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:var(--color-oposite)
}
.for-text {
  font-size:16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color:var(--color-oposite);
  text-align: center;
  margin:5px 0;
}
.for-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
}
.for-submit {
  padding:8px 16px;
  background-color: var(--color-oposite);
  color:var(--color);
  font-size:18px;
  margin:10px 0;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Noto sans serif', sans-serif;
}
.for-res {
  width:100%;
  font-size:16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color:var(--color-oposite)
}

@media screen and (max-width:470px) {
  .for {
    width:100vw;
    min-width: auto;
  }
  .for-content {
    width:350px
  }
}
